* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 黑体;
    overflow-x:hidden;

}

/*内外边距为0，去下划线、列表标点，字体*/
.center {
    margin: 0 auto;
}
.fl{
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

/*header*/
header {
    width: 100%;
    height: auto;
    overflow: hidden;
}

header .tlogo {
    width: 100%;
    height: 150px;
}

header .tlogo img
{
    width: 140px;
    height: 140px;
}


/*头部LOGO部分*/
/*导航*/
header .nav {
    width: 100%;
    height: auto;
    background: #2B589C;
    overflow: hidden;
    border-top: 8px solid #174D9E;
}

header .nav1 {
    width: 1200px;

}
header .nav .nav1 ul{
    margin-bottom: 0;
}
header .nav .nav1 ul li {
    float: left;
    margin: 0;
    height: auto;
}

header .nav .nav1 ul li:hover {
    background: #DF3A01;
}

header .nav .nav1 ul li a {
    display: block;
    margin : 12px;
    padding: 0 40px;
    font-size: 18px;
    font-family: 黑体;
    color: #FFFFFF;
    text-decoration: none;
}
header .nav .nav1 ul img{
    height: 40px;
    width: 51px;
    float: left;
}

header div a img {
    width: 100%;
    height: 400px;
}

/*公告部分*/
.info {
    width: 100%;
    height: 400px;
    margin-top: 40px;
    line-height:1;
}

.info1 {
    width: 1000px;
    height: 350px;
}

.info1 .left {
    width: 400px;
    height: auto;
    float: left;
}

.infol .left span {
    float: right;
    margin: 0;
}



.new1 {
    border-top: 5px solid #AC3F0D;
}

.new1 ul {
    margin-top: 20px;
}

.new1 ul li {
    border-bottom: 1px dashed #DAD5D3;
    margin-top: 12px;
}

.new1 ul li a {
    color: black;
}

.new1 ul li a:hover {
    color: #088A08;
}

.new1 ul li span {
    float: right;
}

.info1 .right {
    width: 400px;
    height: auto;
    float: right;
}

.infol .right span {
    float: right;
}

.title_1 {
    width: 400px;
}

.title_1 h3 {
    color: #AC3F0D;
    margin: 0;
}

.title_1 h3 span a {
    float: right;
    font-size: 14px;
    color: #AC3F0D;
}


.title_2 {
    width: 400px;
}

.title_2 h3 {
    color: #0B6735;
    margin: 0;
}

.title_2 span a {
    float: right;
    font-size: 14px;
    color: #0B6735;
}

.new2 {
    border-top: 5px solid #0B6735;
}

.new2 ul {
    margin-top: 20px;
}

.new2 ul li {
    border-bottom: 1px dashed #DAD5D3;
    margin-top: 12px;
}

.new2 ul li a {
    color: black;
}

.new2 ul li a:hover {
    color: #088A08;
}

.new2 ul li span {
    float: right;
}

/*页脚*/
.footer{
    width: 100%;
    height: 200px;
    margin-top:120px;
    color: white;

    background-color: #2B589C;
    overflow-y: hidden;

}
.ff{
    width:800px;height: 160px;
    border-bottom: 1px solid #FFFFFF;
    line-height:1;
}
.f1{
    width: 200px;height: 150px;
}
.f1 .flogo{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    display: inline-block;
}
.f2{
    width: 400px;
    height: 120px;
    margin-top: 20px;
}
.f2 img{
    width: 20px;
    height: 20px;
    vertical-align:middle;
}
.f2 div{
    margin-top: 12px;
}


.f3{
    width:200px;
    height: 120px;
    margin-top: 25px;
}
.f3 p{
    text-align: center;
}
.f3 div{
    background: url("../img/zhbit.jpg") no-repeat center center;
    background-size: cover;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-left: 60px;
}
.f4{
    width:800px;
    margin-top: 10px;
}
/*MORE.html部分*/
.ctn {
    width: 1200px;
    height: auto;
}

.ctn .left{
    float: left;
    width: 250px;
    height: auto;
    margin-top: 20px;
    border-color: #6E6E6E;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    line-height:1;
}
.pos{
    background: #174D9E;
    height: 50px;
}
.pos1{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 16px;
}
.pos1 b{
    color: #FFFFFF;
    font-family: "宋体";
}
.pos a{
    color: #FFFFFF;
    font-family: "宋体";
}
.pos a:hover{
    color: #77A473;
    text-decoration: none;
}
.link{
    height: auto;
}
.link a{
    margin-top: 0;
    color: #343533;
    height: 40px;
    display: block;
    border-top: 2px solid #6E6E6E;
}
.link a:hover{
    color: #77A473;
    text-decoration: none;
}
.link a span{
    display: inline-block;
    margin-left: 10px;
}
.link a span p{
    font-size: 16px;
    margin-bottom: 5px;
    font-family: "宋体";
}
.link a span div{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
    background: url("../img/箭头1.jpg") no-repeat center center;
    background-size: cover;
}
.link a:hover span div{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/箭头2.jpg") no-repeat center center;
    background-size: cover;
    margin-top: 10px;
    margin-left: 20px;
}


.ctn .right {
    float: right;
    width: 800px;
    margin-top: 20px;
    line-height:normal;
}

.ctn .right .new {
    width: 800px;
    height: 600px;
}

.ctn .right .new a {
    margin-top: 12px;
    color: #868282;
    height: 20px;
    display: block;
    border-bottom: 1px dashed #DAD5D3;
}

.ctn .right .new a:hover {
    color: #77A473;
    border-bottom: 1px dashed #77A473;
}

.ctn .right .new a div {
    float: left;
}

.ctn .right .new a span {
    float: right;
}

/*文章Article.html*/
.article {
    height: 200px;
}

.article table {
    margin: 0 auto
}

.article tr {
    height: 20px
}

.article .t1 {
    font-size: 40px
}

/*画廊*/
.slider {
    overflow: hidden;
    width: 100vw;
    position: relative;
}

div.item  img{
    max-height: 400px;
    width: 100%;
}
div#myCarousel{
    margin: 0 auto;
}

a#left carousel-control{
    position: absolute;
}
a#right carousel-control{
    position: absolute;
}
